@import url("https://cdn.jsdelivr.net/npm/segoe-fonts@1.0.1/segoe-fonts.css");
@import url("https://fonts.googleapis.com/css?family=Bitter:700");
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 16px;
  /* Add padding BETWEEN each column */
  /* Create three equal columns that floats next to each other */
  /* Clear floats after rows */
  /* Content */
  /* The "show" class is added to the filtered elements */
  /* Style the buttons */ }
  html body header {
    background-image: url("../img/champ.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0; }
    html body header #barre {
      background-color: rgba(68, 79, 86, 0.7);
      justify-content: space-around;
      height: 8vh;
      padding: 0;
      margin: 0; }
      html body header #barre .logo {
        font-family: 'Segoe UI Bold';
        color: white;
        font-weight: 800; }
        html body header #barre .logo span {
          font-family: 'Segoe UI Bold';
          color: #6fa2cc;
          font-weight: 800; }
      html body header #barre .home .nav-link {
        font-family: 'Segoe UI Bold';
        color: white;
        font-weight: 800; }
      html body header #barre .home .nav-link:hover {
        border: 2px solid #4bcaff; }
    html body header .titre {
      text-align: center;
      align-items: center;
      height: 85vh;
      margin-top: 40vh; }
      html body header .titre .titre1 {
        font-family: 'Segoe UI Light';
        font-weight: 200;
        color: white;
        font-size: 2.6em;
        background-color: rgba(0, 0, 0, 0.7);
        border: 1px solid #242525; }
      html body header .titre .titre2 {
        font-family: 'Segoe UI Light';
        color: white;
        font-size: 2.6em;
        background-color: rgba(0, 0, 0, 0.7);
        border: 1px solid #242525; }
  html .services {
    font-family: 'Segoe UI Light';
    background-color: #4bcaff;
    color: white;
    padding-top: 5%;
    padding-bottom: 10%; }
    html .services h2 {
      margin-top: 5%;
      margin-bottom: 5%; }
      html .services h2 span {
        text-decoration: underline;
        color: white; }
    html .services .coffee {
      font-family: "Segoe UI Semibold"; }
      html .services .coffee h3 {
        font-family: 'Segoe UI Semibold"';
        margin-top: 5%;
        margin-bottom: 5%; }
      html .services .coffee p {
        margin-top: 5%;
        margin-bottom: 5%; }
    html .services .instant {
      font-family: "Segoe UI Semibold"; }
      html .services .instant h3 {
        margin-top: 5%;
        margin-bottom: 5%; }
    html .services p {
      margin-top: 5%;
      margin-bottom: 5%; }
    html .services .serious {
      font-family: "Segoe UI Semibold"; }
      html .services .serious h3 {
        margin-top: 5%;
        margin-bottom: 5%; }
      html .services .serious p {
        margin-top: 5%;
        margin-bottom: 5%; }
    html .services .frame {
      font-family: "Segoe UI Semibold"; }
      html .services .frame h3 {
        margin-top: 5%;
        margin-bottom: 5%; }
      html .services .frame p {
        margin-top: 5%;
        margin-bottom: 5%; }
  html .portfolio {
    background-color: white;
    /* Center website */ }
    html .portfolio .main {
      max-width: 1000px;
      margin: auto; }
    html .portfolio h2 {
      margin: 5%;
      font-family: 'Segoe UI Light';
      word-break: break-all; }
      html .portfolio h2 span {
        text-decoration: underline;
        color: black; }
  html .row,
  html .row > .column {
    padding: 8px; }
  html .column {
    float: left;
    width: 33.33%;
    display: none;
    /* Hide all elements by default */ }
  html .row:after {
    content: "";
    display: table;
    clear: both; }
  html .content {
    background-color: white;
    padding: 10px; }
  html .show {
    display: block; }
  html .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer; }
  html .btn:hover {
    background-color: #ddd; }
  html .btn.active {
    background-color: #666;
    color: white; }
  html .just {
    background-color: #515f67;
    /* 4x3 Aspect Ratio */ }
    html .just .texte {
      color: white;
      margin-top: 5%;
      margin-bottom: 5%; }
      html .just .texte h2 {
        font-family: 'Segoe UI Light';
        margin-top: 5%;
        margin-bottom: 5%; }
        html .just .texte h2 span {
          text-decoration: underline;
          color: white; }
      html .just .texte p {
        font-family: 'Segoe UI';
        margin-top: 5%;
        margin-bottom: 5%;
        margin-right: 5%; }
      html .just .texte .bouton1 {
        color: black;
        padding: 1% 3%;
        text-decoration: none;
        text-align: center;
        border: 1px solid #242525; }
    html .just .iframe-container iframe {
      border: 0;
      height: 100%;
      width: 100%; }
    html .just .iframe-container-4x3 {
      padding-top: 75%; }
  html .twitter {
    background-color: #4bcaff;
    color: white; }
    html .twitter h2 {
      font-family: 'Segoe UI Light';
      margin-top: 5%;
      margin-bottom: 5%; }
      html .twitter h2 span {
        text-decoration: underline;
        color: white; }
    html .twitter img {
      width: 10%;
      height: 27%;
      margin-top: 13%; }
    html .twitter a,
    html .twitter i {
      color: white; }
    html .twitter p {
      font-family: "Segoe UI";
      font-size: 1.75rem;
      margin-top: 5%;
      margin-bottom: 5%; }
      html .twitter p span {
        font-family: "Segoe UI Semibold"; }
  html .who {
    background-image: url("../img/who_is.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white; }
    html .who h2 {
      font-family: 'Segoe UI Light';
      margin-top: 5%;
      margin-bottom: 5%; }
      html .who h2 span {
        text-decoration: underline;
        color: white; }
    html .who .texte2 {
      font-family: "Segoe UI";
      font-size: 0.875rem;
      margin-top: 5%;
      margin-bottom: 5%; }
    html .who .texte2_1 {
      font-family: "Segoe UI";
      font-size: 0.875rem;
      margin-top: 13%;
      margin-bottom: 5%; }
    html .who .icone img {
      height: 50%;
      border: 1px solid white;
      padding: 5% 0%;
      color: white; }
  html .texte3 {
    margin-top: 5%;
    margin-bottom: 5%; }
    html .texte3 h2 {
      font-family: 'Segoe UI Light';
      margin-top: 5%;
      margin-bottom: 5%; }
      html .texte3 h2 span {
        text-decoration: underline;
        color: black; }
    html .texte3 #guillemets {
      font-family: 'Bitter';
      font-size: 3rem; }
    html .texte3 blockquote {
      font-family: 'Segoe UI Light';
      font-size: 1.75rem;
      margin-top: 5%;
      margin-bottom: 5%; }
    html .texte3 cite {
      color: #4bcaff;
      font-family: 'Segoe UI Bold';
      font-size: 0.875rem;
      margin-top: 5%;
      margin-bottom: 5%; }
  html .contact {
    background-image: url("../img/contact.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding-top: 5%;
    padding-bottom: 5%; }
    html .contact h2 {
      font-family: 'Segoe UI Light';
      padding-bottom: 5%; }
      html .contact h2 span {
        text-decoration: underline;
        color: white; }
    html .contact .para1 {
      font-family: "Segoe UI Semibold";
      padding-left: 5%; }
    html .contact .para2 {
      font-family: "Segoe UI Semibold";
      font-size: 0.875rem;
      padding: 0% 0% 0% 5%; }
    html .contact button {
      padding: .375rem 7.75rem; }
    html .contact .nom,
    html .contact .email,
    html .contact .comment {
      background-color: rgba(0, 0, 0, 0); }
    html .contact .form-control {
      border-color: green;
      background-color: rgba(0, 0, 0, 0); }
    html .contact #formulaire {
      background-color: #4bcaff; }
  html footer {
    color: grey;
    background-color: #353f47;
    padding-top: 3%;
    padding-bottom: 3%; }
    html footer a {
      text-decoration: none;
      background-color: #353f47;
      color: grey; }
    html footer a:hover {
      color: #4bcaff;
      text-decoration: none; }

/*# sourceMappingURL=style.css.map */
