* {
    margin: 0;
    padding: 0;
}

body {
    .container-fluid {
        padding: 0;


        #barre {
            background-color: #444f56;
            justify-content: space-around;
        }

        .navbar-brand {
            margin-right: -16rem;
            color: white;

        }

        .navbar-nav {
            margin-left: 62vw;
        }

        .navbar-nav.mr-auto {
            color: white;
        }


    }






}