// |----------------------------|Import Font |-------------------------|
@import url('https://cdn.jsdelivr.net/npm/segoe-fonts@1.0.1/segoe-fonts.css');
@import url('https://fonts.googleapis.com/css?family=Bitter:700');

* {

    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;

    body {

        header {
            background-image: url("../img/champ.jpg");
            height: 100vh;
            background-repeat: no-repeat;
            background-size: cover;
            margin: 0;

            #barre {
                //|-----|Background navbar|---------|
                background-color: rgba(68, 79, 86, 0.7); // position: fixed; fonctionne avec class scrollspy du body et id ds navbar
                justify-content: space-around;
                height: 8vh;
                padding: 0;
                margin: 0;

                .logo {
                    //|-----|logo Blueasy|--------------|
                    font-family: 'Segoe UI Bold';
                    color: white;
                    font-weight: 800;

                    span {
                        //-|----| E de Blueasy|----------|
                        font-family: 'Segoe UI Bold';
                        color: #6fa2cc;
                        font-weight: 800;

                    }
                }

                // |--------|Menu de navigation|------|
                .home {

                    .nav-link {
                        // |----|Li|--------|
                        font-family: 'Segoe UI Bold';
                        color: white;
                        font-weight: 800;
                    }

                    .nav-link:hover {
                        // |----|Li|--------|
                        border: 2px solid #4bcaff;
                    }

                }
            }

            // |-------------|TItre|----------|
            .titre {

                text-align: center;
                align-items: center;
                height: 85vh;
                margin-top: 40vh;

                .titre1 {
                    font-family: 'Segoe UI Light';
                    font-weight: 200;
                    color: white;
                    font-size: 2.6em;
                    background-color: rgba(0, 0, 0, 0.7);
                    border: 1px solid #242525;

                }

                .titre2 {
                    font-family: 'Segoe UI Light';
                    color: white;
                    font-size: 2.6em;
                    background-color: rgba(0, 0, 0, 0.7);
                    border: 1px solid #242525;
                }
            }

        }

    }

    // ---------------------|Section Services|--------------------------------------|
    .services {
        font-family: 'Segoe UI Light';
        background-color: #4bcaff;
        color: white;
        padding-top: 5%;
        padding-bottom: 10%;

        h2 {
            margin-top: 5%;
            margin-bottom: 5%;

            span {
                text-decoration: underline;
                color: white;
            }
        }

        .coffee {
            font-family: "Segoe UI Semibold";

            h3 {
                font-family: 'Segoe UI Semibold"';
                margin-top: 5%;
                margin-bottom: 5%;
            }

            p {
                margin-top: 5%;
                margin-bottom: 5%;
            }
        }

        .instant {
            font-family: "Segoe UI Semibold";

            h3 {
                margin-top: 5%;
                margin-bottom: 5%;

            }
        }

        p {
            margin-top: 5%;
            margin-bottom: 5%;
        }



        .serious {
            font-family: "Segoe UI Semibold";

            h3 {
                margin-top: 5%;
                margin-bottom: 5%;
            }

            p {
                margin-top: 5%;
                margin-bottom: 5%;
            }
        }

        .frame {
            font-family: "Segoe UI Semibold";

            h3 {
                margin-top: 5%;
                margin-bottom: 5%;
            }

            p {
                margin-top: 5%;
                margin-bottom: 5%;
            }
        }

    }

    // ------------------------------|Section Portfolio|--------------------------------------|

    .portfolio {
        background-color: white;

        // height: 35.6875rem;
        /* Center website */
        .main {
            max-width: 1000px;
            margin: auto;
        }

        h2 {
            margin: 5%;
            font-family: 'Segoe UI Light';
            word-break: break-all;

            span {
                text-decoration: underline;
                color: black;
            }
        }
    }



    /* Add padding BETWEEN each column */
    .row,
    .row>.column {
        padding: 8px;
    }

    /* Create three equal columns that floats next to each other */
    .column {
        float: left;
        width: 33.33%;
        display: none;
        /* Hide all elements by default */
    }

    /* Clear floats after rows */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    /* Content */
    .content {
        background-color: white;
        padding: 10px;
    }

    /* The "show" class is added to the filtered elements */
    .show {
        display: block;
    }

    /* Style the buttons */
    .btn {
        border: none;
        outline: none;
        padding: 12px 16px;
        background-color: white;
        cursor: pointer;
    }

    .btn:hover {
        background-color: #ddd;
    }

    .btn.active {
        background-color: #666;
        color: white;
    }



    // ------------------------------|Section Just Default |--------------------------------------|
    .just {
        background-color: #515f67;


        .texte {
            color: white;
            margin-top: 5%;
            margin-bottom: 5%;

            h2 {
                font-family: 'Segoe UI Light';
                margin-top: 5%;
                margin-bottom: 5%;

                span {
                    text-decoration: underline;
                    color: white;
                }
            }

            p {
                font-family: 'Segoe UI';
                margin-top: 5%;
                margin-bottom: 5%;
                margin-right: 5%;
            }

            .bouton1 {
                color: black;
                padding: 1% 3%;
                text-decoration: none;
                text-align: center;
                border: 1px solid #242525;
            }
        }




        .iframe-container iframe {
            border: 0;
            height: 100%;
            width: 100%;
        }

        /* 4x3 Aspect Ratio */
        .iframe-container-4x3 {
            padding-top: 75%;
        }
    }

    // ------------------------------|Section Twitter |--------------------------------------|
    .twitter {

        background-color: #4bcaff;
        color: white;

        h2 {
            font-family: 'Segoe UI Light';
            margin-top: 5%;
            margin-bottom: 5%;

            span {
                text-decoration: underline;
                color: white;
            }


        }

        img {
            width: 10%;
            height: 27%;
            margin-top: 13%;

        }

        a,
        i {
            color: white;
        }

        p {
            font-family: "Segoe UI";
            font-size: 1.75rem;
            margin-top: 5%;
            margin-bottom: 5%;

            span {
                font-family: "Segoe UI Semibold";
            }
        }

    }

    // ------------------------------|Section Who Is John |--------------------------------------|
    .who {
        background-image: url("../img/who_is.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        color: white;



        h2 {
            font-family: 'Segoe UI Light';
            margin-top: 5%;
            margin-bottom: 5%;

            span {
                text-decoration: underline;
                color: white;
            }
        }

        .texte2 {
            font-family: "Segoe UI";
            font-size: 0.875rem;
            margin-top: 5%;
            margin-bottom: 5%;

        }

        .texte2_1 {
            font-family: "Segoe UI";

            font-size: 0.875rem;
            margin-top: 13%;
            margin-bottom: 5%;

        }

        .icone {


            img {
                height: 50%;
                border: 1px solid white;
                padding: 5% 0%;
                color: white;

            }


        }

    }

    // ------------------------------|Section Citation |--------------------------------------|

    .texte3 {
        margin-top: 5%;
        margin-bottom: 5%;

        h2 {
            font-family: 'Segoe UI Light';
            margin-top: 5%;
            margin-bottom: 5%;

            span {
                text-decoration: underline;
                color: black;
            }
        }

        #guillemets {
            font-family: 'Bitter';
            font-size: 3rem;
        }

        blockquote {
            font-family: 'Segoe UI Light';
            font-size: 1.75rem;
            margin-top: 5%;
            margin-bottom: 5%;
        }

        cite {
            color: #4bcaff;
            font-family: 'Segoe UI Bold';
            font-size: 0.875rem;
            margin-top: 5%;
            margin-bottom: 5%;
        }

    }

    // ----------------------------------------|Section Formulaire de Contact |--------------------------------------|
    .contact {
        background-image: url("../img/contact.png");
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        padding-top: 5%;
        padding-bottom: 5%;

        h2 {
            font-family: 'Segoe UI Light';
            padding-bottom: 5%;

            span {
                text-decoration: underline;
                color: white;
            }

        }

        .para1 {
            font-family: "Segoe UI Semibold";
            padding-left: 5%;

        }

        .para2 {
            font-family: "Segoe UI Semibold";
            font-size: 0.875rem;
            padding: 0% 0% 0% 5%;

        }

        button {
            padding: .375rem 7.75rem;
        }

        .nom,
        .email,
        .comment {

            background-color: rgba(0, 0, 0, 0);

        }

        .form-control {

            border-color: green;
            background-color: rgba(0, 0, 0, 0);

        }

        #formulaire {
            background-color: #4bcaff;
            ;
        }


    }



    // -------------------------------------------------|Section Footer|--------------------------------------|
    footer {

        color: grey;
        background-color: #353f47;
        padding-top: 3%;
        padding-bottom: 3%;


        a {

            text-decoration: none;
            background-color: #353f47;
            color: grey;


        }

        a:hover {
            color: #4bcaff;
            text-decoration: none;


        }
    }


}