// |----------------------------|Import Font |-------------------------|
@import url('https://cdn.jsdelivr.net/npm/segoe-fonts@1.0.1/segoe-fonts.css');

* {

    margin: 0;
    padding: 0;
}

html {
    body {

        header {
            background-image: url("../img/champ.jpg");
            height: 100vh;
            background-repeat: no-repeat;
            background-size: cover;
            margin: 0;

            #barre {
                //|-----|Background navbar|---------|
                background-color: #444f56;
                justify-content: space-around;
                height: 8vh;
                padding: 0;
                margin: 0;

                .logo {
                    //|-----|logo Blueasy|--------------|
                    font-family: 'Segoe UI Bold';
                    color: white;
                    font-weight: 800;

                    span {
                        //-|----| E de Blueasy|----------|
                        font-family: 'Segoe UI Bold';
                        color: #6fa2cc;
                        font-weight: 800;

                    }
                }

                // |--------|Menu de navigation|------|
                .home {

                    .nav-link {
                        // |----|Li|--------|
                        font-family: 'Segoe UI Bold';
                        color: white;
                        font-weight: 800;
                    }

                    .nav-link :hover {
                        // |----|Li|--------|
                        border: 1px solid #4bcaff;
                    }

                }
            }

            // |-------------|TItre|----------|
            .titre {

                text-align: center;
                align-items: center;
                height: 85vh;
                margin-top: 40vh;

                .titre1 {
                    font-family: 'Segoe UI Light';
                    font-weight: 200;
                    color: white;
                    font-size: 2.6em;
                    background-color: rgba(0, 0, 0, 0.7);
                    border: 1px solid #242525;

                }

                .titre2 {
                    font-family: 'Segoe UI Light';
                    color: white;
                    font-size: 2.6em;
                    background-color: rgba(0, 0, 0, 0.7);
                    border: 1px solid #242525;
                }
            }

        }

    }

    // ---------------------|Section Services|--------------------------------------|
    .services {
        font-family: 'Segoe UI Light';
        background-color: #4bcaff;
        color: white;
        padding-top: 5%;

        h2 {
            margin-top: 5%;
            margin-bottom: 5%;
        }

        .coffee {
            font-family: "Segoe UI Semibold";

            h3 {
                font-family: 'Segoe UI Semibold"';
                margin-top: 5%;
                margin-bottom: 5%;
            }

            p {
                margin-top: 5%;
                margin-bottom: 5%;
            }
        }

        .instant {
            font-family: "Segoe UI Semibold";

            h3 {
                margin-top: 5%;
                margin-bottom: 5%;
            }

            p {
                margin-top: 5%;
                margin-bottom: 5%;
            }

        }

        .serious {
            font-family: "Segoe UI Semibold";

            h3 {
                margin-top: 5%;
                margin-bottom: 5%;
            }

            p {
                margin-top: 5%;
                margin-bottom: 5%;
            }
        }

        .frame {
            font-family: "Segoe UI Semibold";

            h3 {
                margin-top: 5%;
                margin-bottom: 5%;
            }

            p {
                margin-top: 5%;
                margin-bottom: 5%;
            }
        }

    }

    // ------------------------------|Section Portfolio|--------------------------------------|

    .portfolio {
        background-color: white;
        height: 52.6875rem;







    }

    // ------------------------------|Section Just Default |--------------------------------------|
    .just {
        background-color: #515f67;
        height: 70vh;

        .texte {
            color: white;

            h2 {
                font-family: 'Segoe UI Light';
                margin-top: 5%;
                margin-bottom: 5%;
            }

            p {
                font-family: 'Segoe UI';
                margin-top: 5%;
                margin-bottom: 5%;
                margin-right: 5%;
            }

            .bouton1 {
                color: black;
                padding: 1% 3%;
                text-decoration: none;
                text-align: center;
                border: 1px solid #242525;
            }
        }
    }

    .twitter {

        background-color: #4bcaff;
        color: white;

        h2 {
            font-family: 'Segoe UI Light';
            margin-top: 5%;
            margin-bottom: 5%;
        }

        p {
            font-family: "Segoe UI ";
            font-size: 1.75rem;
            margin-top: 5%;
            margin-bottom: 5%;

            span {
                font-family: "Segoe UI Semibold";
            }
        }

    }






























}